<div class="login-modal" id="loginModal">
  <div class="login-container">
    <button class="close-btn" (click)="closeModal()">✖</button>
    <h2>Login to Your Account</h2>
    <h3>Select Your Role</h3>
    <button class="login-btn user-btn" (click)="navigateToUser()">User Login</button>
    <button class="login-btn admin-btn" (click)="navigateToAdmin()">Admin Login</button>
    <p class="register-text">Don't have an account? <a href="javascript:void(0)" (click)="register()">Register</a></p>
  </div>
</div>
