<app-navbar></app-navbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>

<!-- Login Modal -->
<div class="login-modal" id="loginModal" style="display: none;">
  <div class="login-container">
    <h2>Select Login Type</h2>
    <button class="login-btn user-btn" (click)="navigateToUser()">User Login</button>
    <button class="login-btn admin-btn" (click)="navigateToAdmin()">Admin Login</button>
    <p>Don't have an account? <a href="javascript:void(0)" (click)="register()">Register</a></p>
    <button class="close-btn" (click)="closeModal()">X</button>
  </div>
</div>

<app-footer></app-footer>
